<div class="panel panel-default">
	<div class="panel-heading clearfix">
    <h4 class="pull-left">{{model.title}}</h4>
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#" {{action "editingList"}}>Edit</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#" {{action "deleteList"}}>Delete</a></li>
      </ul>
    </div>
  </div>
  {{#if isEditingTitle}}
    <div class="panel-body">
      <form>
        <div class="form-group new-item">
          {{input type="text" class="new-list form-control" placeholder="edit list title" value=model.title}}
          <button type="button" class="btn btn-primary pull-right" {{action "editList"}}>Edit</button>
        </div>
      </form>
    </div>
  {{/if}}
	{{outlet}}
</div>



