<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default panel-list">
			<div class="panel-heading clearfix">
				<h4 class="pull-left">Lists</h4>
			</div>
			<div class="panel-body">
				<form {{action "createList"}}>
					<div class="form-group new-item">
						{{input type="text" class="form-control new-list" placeholder="create new todo list" value=title}}
						<button type="button" class="btn btn-primary pull-right new-list-button" {{submit}}>Add</button>
					</div>
				</form>
			</div>
			<div class="panel-body">
				<div class="btn-group" role="group">
				{{#if isSortedByTitle }}
					<button
						type="button"
						class="btn btn-default"
						{{action "setSorting" "titleDesc"}}>Title <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
				{{else}}
					<button
						type="button"
						class="btn btn-default"
						{{action "setSorting" "titleAsc"}}>Title <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
				{{/if}}

				{{#if isSortedByDate }}
					<button
						type="button"
						class="btn btn-default"
						{{action "setSorting" "dateDesc"}}>Date <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
				{{else}}
					<button
						type="button"
						class="btn btn-default"
						{{action "setSorting" "dateAsc"}}>Date <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
				{{/if}}
				{{#if isSortedByTodoCountTotal }}
					<button
						type="button"
						class="btn btn-default"
						{{action "setSorting" "todosCountDesc"}}>Todo Count <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></button>
				{{else}}
					<button
						type="button"
						class="btn btn-default"
						{{action "setSorting" "todosCountAsc"}}>Todo Count <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
				{{/if}}
				</div>
			</div>

			<!-- List group -->
			<div class="list-group">
				{{#each sortedList as |list|}}
					{{#link-to "lists.list.todos" list.id class="list-group-item list-link"}}
					<span class="badge">{{completed-todos-count list}} of {{todos-count list}} </span>
	    			<h4 class="list-group-item-heading">{{list.title}}</h4>
	    			<p class="list-group-item-text">{{format-date list.createdAt}}</p>
					{{/link-to}}
  				{{/each}}
			</div>
		</div>
		
	</div>
	<div class="col-md-6">
		{{outlet}}		
	</div>
</div>

