<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">Lists</div>
			<div class="panel-body">
				<form>
					<div class="form-group">
						{{input type="text" class="new-list form-control" placeholder="create new todo list" value=title}}
						<button type="button" class="btn btn-primary pull-right" {{action "createList"}}>Add</button>
					</div>
				</form>
			
			
			</div>

			<!-- List group -->
			<div class="list-group">
				{{#each model as |list|}}
					{{#link-to "lists.list.todos" list.id class="list-group-item list-link"}}
	  				<span class="badge">{{list.todosCount}}</span>
	    			<h4 class="list-group-item-heading">{{list.title}}</h4>
	    			<p class="list-group-item-text">{{format-date list.createdAt}}</p>
					{{/link-to}}
  				{{/each}}
			</div>
		</div>
		
	</div>
	<div class="col-md-6">
		{{outlet}}		
	</div>
</div>

